*{
    box-sizing: border-box;
}

body, html, h3, h1, p, ul{
    padding: 0;
    margin: 0;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: max-content;
    padding: 30px;
    margin-bottom: 15px;
}

div h1{
    padding-bottom: 30px;
}

div h3{
    padding-bottom: 30px;
}


#nomeFilme{
    border: 2px solid red;
    border-bottom: 0;
    border-width: max-content;
}

#categoriaFilme{
    border: 2px solid blue;
    border-bottom: 0;
    border-width: max-content;
}

#sinopseFilme{
    border: 2px solid green;
    border-bottom: 0;
    border-width: max-content;
}

#atoresFilme{
    border: 2px solid gray;
    border-width: max-content;
}

#lancamentoFilme{
    border: 2px solid pink;
    border-bottom: 0;
    border-width: max-content;
}

#trailerFilme{
    border: 2px solid orange;
    border-bottom: 0;
    border-width: max-content;
}

section h3{
    float: left;
}